<div id="divider"></div>
<br>
<div id="background">
  <h2 class="profile">Please create an account to continue</h2>
  <br>
  <br>
  <div id="profImage">
    <img src="https://res.cloudinary.com/dvzw25pxu/image/upload/v1613954506/1camlense_h5fzqf.png" alt="Shutter Image">
  </div>
  <br>
  <form action="/auth/signup" method="POST">
    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email">

    <label for="new-name">Name</label>
    <input id="new-name" type="text" name="name">

    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password">

    <input type="submit" value="Sign up">
  </form>
</div>