<div id="divider"></div>
<br>
<h1>Welcome to Shutter-up!</h1>
<h6 id="shoot">Shoot | Share | Collaborate</h6>
<div id="shutterImage">
    <img src="https://res.cloudinary.com/dvzw25pxu/image/upload/v1613954506/1camlense_h5fzqf.png" alt="Shutter Image">
</div>
<h4 id="tagLine">Where photographers share images!</h4>
