<!-- this image comes from the server.js -->
<div id="divider"></div>
<br>
<h1>Main Dial</h1>
<% for(let i = 0; i < posts.length; i++) { %> 
    <% let postItem = posts[i].get() %> 
    <img src="<%= postItem.imageUrl %>" alt="User uploaded image" id="imagePosted"> 
    <h6><p class="profile">Shot by: <%= postItem.user.name %> </p></h6>
<% } %> 