<!-- this image comes from the server.js -->
<h1>edbewicbiuewbcerwioubc</h1>
<h1>feed page</h1>
<h1>NEWS FEED</h1>
<p>EVERYONES POST SHOULD DISPLAY IN HERE</p>
<% for(let i = 0; i < posts.length; i++) { %> 
    <% let postItem = posts[i].get() %> 
    <img src="<%= postItem.imageUrl %>" alt="User uploaded image"> 
    <p><%= postItem.name %> </p>
    <p><%= postItem.imageUrl %></p>
<% } %> 