<form action="/" method="POST" enctype="multipart/form-data">
    <label for="inputFile">Image</label>
    <input type="file" name="inputFile">
    <button type="submit">Upload Image</button>
</form> 