<h3>Please upload an image</h3>
<form action="/mainDial"  method="POST" enctype="multipart/form-data">
    <label for="inputFile">Image</label> 
    <input type="file" name="inputFile">
    <button type="submit" class="btn btn-primary">Upload Image</button>
</form>