<h3>Welcome to your PROFILE</h3>
<form action="/mainDial"  method="POST" enctype="multipart/form-data">
    <label for="inputFile">Image</label> 
    <input type="file" name="inputFile">
    <button type="submit" class="btn btn-primary">Upload Image</button>
</form>
<ul>
    <li>should diplays users images</li>
    <li>user should be able to upload images</li>
</ul>