<div id="divider"></div>
<br>
<h3 class="profile">Please upload an image</h3>
<br>
<br>
<br>
<form action="/mainDial"  method="POST" enctype="multipart/form-data">
    <label for="inputFile">Image</label> 
    <input type="file" name="inputFile">
    <button type="submit" class="btn btn-primary">Upload Image</button>
</form>
