<div id="divider"></div>
<br>
<h2 class="text">Welcome <%= name%> 📸</h2>
<h4 class="text">Please upload an image</h4>
<br>
<br>
<div class="text">
<form action="/mainDial"  method="POST" enctype="multipart/form-data">
    <label for="inputFile">Image</label> 
    <input type="file" name="inputFile">
    <button type="submit" class="btn btn-primary">Upload Image</button>
</form>
<br>
<br>
<h4 class="text">Your camera reel</h4>
<br>
<% for(let i = 0; i < allImages.length; i++) { %> 
    <% let postItem = allImages[i].get() %> 
    <img src="<%= postItem.imageUrl %>" alt="User uploaded image" id="profileImage"> 
    <form action="/profile/<%=postItem.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete Image</button>
    </form>    
<% } %> 
</div>

