@media only screen and (max-width: 600px) {
  #mdImage {
    width: 100%;
  }
  #profileImage {
    width: 100%;
  }
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: rgb(106, 80, 148);
  font-family: 'Chelsea Market', cursive;
  text-shadow: 3px 3px 5px gray;
}

.page {
  text-align: center;
  background-image: url(https://res.cloudinary.com/dvzw25pxu/image/upload/v1613961927/E020701-0_leoda6.jpg);
}

#divider {
    border-top: 3px solid rgb(0, 0, 0);
}

#shoot {
  color: rgb(106, 80, 148);
  font-family: 'Chelsea Market', cursive;
  text-shadow: 3px 3px 5px gray;
}

#tagLine {
  color: rgb(106, 80, 148);
  font-family: 'Chelsea Market', cursive;
  text-shadow: 3px 3px 5px gray;
}

.profile {
  color: rgb(106, 80, 148);
  font-family: 'Chelsea Market', cursive;
  text-shadow: 3px 3px 5px gray;
}

#mdImage {
  max-width: 400px;
  max-height: 400px;
}

#profileImage {
  width: 200px;
}
/* currently in sign up */
/* .background {
  
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed;
  background-position: center; */
  background-color: olive;
} */