nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  font-family: 'Chelsea Market', cursive;
  text-shadow: 3px 3px 5px gray;
}

.page {
  text-align: center;
  background-image: url(https://res.cloudinary.com/dvzw25pxu/image/upload/v1613961927/E020701-0_leoda6.jpg);
}

#divider {
    border-top: 10px solid #dad9d6;
    box-shadow: 3px 3px 5px gray;
}

.text {
  color: rgb(106, 80, 148);
  font-family: 'Chelsea Market', cursive;
  text-shadow: 3px 3px 5px gray;
}

#mdImage {
  max-width: 400px;
  max-height: 400px;
  box-shadow: 3px 3px 5px gray;
}

#profileImage {
  width: 300px;
  box-shadow: 3px 3px 5px gray;
}

